.card
  .card-body
    - if notifications.empty?
      %p
        - case params[:type]
        - when 'reviews', 'comments', 'requests'
          There are no notifications for this filter
        - when 'done'
          Mark notifications as "Done" and they'll appear here
        - else
          There are no notifications, but there's a world of opportunities!
    - else
      .text-center
        %span.ml-3= page_entries_info notifications, entry_name: 'notification'
        = link_to_all unless notifications.total_pages == 1 && params['show_all'].nil?

      .list-group.list-group-flush.mt-3
        - notifications.each do |n|
          - notification = NotificationPresenter.new(n)
          .list-group-item.px-2.grid-container
            .notifiable
              = notification_icon(n.notifiable_type)
              = notification_link(notification)
              = request_state(notification)
            .actions.ml-auto.align-self-start
              = read_unread_link(notification)
            - if notification.kind_of_request
              %p.kind.text-word-break-all.m-0= notification.kind_of_request
            %small.excerpt.text-muted.d-none.d-md-block.m-0= notification.excerpt
            %small.who-when.text-muted.d-block.text-right.d-flex.justify-content-end.align-items-center
              = render partial: 'notification_avatars', locals: { notification: notification }
              %span.d-inline-block.text-nowrap.ml-2 #{time_ago_in_words(notification.created_at)} ago

      = paginate notifications, views_prefix: 'webui', window: 2
