.row
  .col-md-4.col-lg-3#notifications-filter-desktop
    .card.mb-3
      %strong.d-block.d-md-none.p-3{ data: { toggle: 'collapse', target: "#filters" },
                                   aria: { expanded: true, controls: 'filters' } }
        = 'Filtered by: ' + (params[:type] || 'Inbox').humanize
        %i.float-right.mt-1.fa.fa-chevron-down

      .card-body.collapse#filters
        .row.list-group-flush
          = user_notification_link('inbox', filter: params[:type])
          = user_notification_link('done', filter: params[:type])
        .row.list-group-flush.mt-5
          %h5.ml-3 Filter
          = user_notification_link('reviews', filter: params[:type])
          = user_notification_link('comments', filter: params[:type])
          = user_notification_link('state_changes', filter: params[:type])
  .col-md-8.col-lg-9#notifications-list
    .card
      .card-body
        - @notifications.each do |n|
          - notification = NotificationPresenter.new(n)
          .d-flex.flex-column
            .notification-item.d-flex.flex-nowrap.px-3.py-3.border-bottom
              .d-flex.flex-column.flex-sm-row.justify-content-sm-between.flex-fill
                .text.pb-3
                  .text-nowrap
                    %span.badge.badge-secondary #{notification.notification_batch}
                    %small.text-muted #{time_ago_in_words(notification.created_at)}
                  = link_to(n.title, notification.link_to_notification_target)
                .actions.align-self-end.align-self-sm-start.pl-3
                  = link_to('Done', 'notification', method: :put, class: 'btn btn-sm btn-success px-4')
