- navigation_top ||= false

= form_tag(form_url, options) do
  - if proxy
    = hidden_field_tag(:context, 'default')
    = hidden_field_tag(:proxypath, 'reserve')
    = hidden_field_tag(:message, 'Please log in')
    = hidden_field_tag(:url, request.fullpath)
  .form-group
    = label_tag(:username, 'Username', class: 'text-light') if navigation_top
    = text_field_tag(:username, nil, required: true, class: 'form-control', placeholder: 'Username')
  .form-group
    = label_tag(:password, 'Password', class: 'text-light') if navigation_top
    = password_field_tag(:password, nil, required: true, class: 'form-control', placeholder: 'Password')
  .clearfix
    = submit_tag('Log In', class: "btn btn-success #{navigation_top ? 'float-right' : 'w-100'}")
  - if can_sign_up && !navigation_top
    .login-separator.text-center
      %hr.my-4
      %span.bg-white.px-3.text-muted or
    .text-center
      - if CONFIG['proxy_auth_mode'] == :on
        = link_to('Sign up', sign_up_url)
      - else
        = link_to('Sign up', '#', data: { toggle: 'toggle-unlogged-form' })
