%nav.navbar.navbar-expand-md.navbar-dark.bg-dark
  .d-flex.flex-nowrap.justify-content-between.w-100
    = link_to(root_path, class: 'navbar-brand', alt: 'Logo') do
      = image_tag('obs-logo_small.svg', height: '30')
    .d-flex
      = render partial: "layouts/#{responsive_namespace}/search"
      - if User.session
        %button.navbar-toggler.ml-3{ 'type': 'button', data: { toggle: 'offcanvas', target: '#global-navigation' },
                                aria: { controls: 'global-navigation', expanded: 'false', label: 'Toggle navigation' } }
          %i.fas.fa-bars
          %i.fas.fa-times
      - else
        = render partial: "layouts/#{responsive_namespace}/personal_navigation"
  - if User.session
    .navbar-collapse.offcanvas-collapse#global-navigation
      %ul.navbar-nav.ml-auto.text-nowrap
        = render partial: "layouts/#{responsive_namespace}/logged_in_user_navigation"

- if User.session
  %nav.navbar.fixed-bottom.navbar-dark.bg-dark
    %ul.nav.justify-content-center.w-100.nav-fill
      %li.nav-item
        = link_to project_show_path(User.session!.home_project_name), class: 'btn btn-dark nav-link', alt: "Home project" do
          %i.fas.fa-home.fa-lg
      %li.nav-item
        = link_to my_tasks_path, class: 'btn btn-dark nav-link', alt: "Tasks" do
          %i.fas.fa-list.fa-lg
      %li.nav-item
        = link_to "#", class: 'btn btn-dark nav-link', alt: "Watchlist" do
          %i.fas.fa-bookmark.fa-lg


:javascript
  $(function () {
    $('[data-toggle="offcanvas"]').on('click', function () {
      $('.offcanvas-collapse').toggleClass('open');
      $('.navbar-toggler').toggleClass('open');
    })
  })
