- i = 0
- subscriptions_form.subscriptions_by_event.each do |event_class, subscriptions|
  .card.bg-light.mb-2
    .card-body
      %h5.card-title= event_class.description
      %p.card-text= Event::Base::EXPLANATION_FOR_NOTIFICATIONS[event_class.to_s]
      .list-group
        - subscriptions.each do |subscription|
          .d-flex.flex-column.flex-sm-row.justify-content-sm-between.list-group-item.list-group-item-action
            %span= EventSubscription::RECEIVER_ROLE_TEXTS[subscription.receiver_role]
            .d-flex.flex-column.flex-sm-row{ class: "#{subscription.receiver_role}" }
              - EventSubscription::Form::CHANNELS.each do |channel|
                .d-flex.flex-nowrap.align-items-baseline.custom-control.custom-checkbox.my-2.my-sm-0.pr-2
                  = check_box_tag "subscriptions[#{channel}_#{i}][enable]", true, subscription[channel],
                                  class: 'custom-control-input',
                                  data: { url: path, method: :put, remote: true,
                                  params: "subscriptions[#{channel}_#{i}][eventtype]=#{subscription.eventtype}&subscriptions[#{channel}_#{i}][receiver_role]=#{subscription.receiver_role}&subscriptions[#{channel}_#{i}][channel]=#{channel}" }

                  %label.custom-control-label{ for: "subscriptions_#{channel}_#{i}_enable" }= channel
                  %i.fas.fa-spinner.invisible
                  - i += 1

